# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Environment variables / secrets
.env
.env.*

# Exceptions
!.env.example

# Jupyter
.ipynb_checkpoints/

# Data
*.csv
*.xlsx
*.parquet

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/

# Python build
build/
dist/
*.egg-info/